$lowRatingColor: #e89d40;
@mixin message-field {
    color: #ffffff;
    width: 100px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 8px;
    position: absolute;
    right: 10px;
    top: -8px;
    font-size: 10px;
}
.Element {
      width: 60%;
      margin: 25px auto;
      background-color: #ffffff;
      display: flex;
      position: relative;
      padding: 10px;
      border-radius: 8px;
      .HighRatingMessage {
        background-color: #27aae1;
        @include message-field;
    }
    .LowRatingMessage {
        background-color: $lowRatingColor;
       @include message-field;
    }
     .Data {
         width: 20%;
        //  float: right;
         .DataInfo {
             margin: 10px;
             font-size: 10px;
         }
     }
     .Description {
        width: 80%;
        padding: 3px;
        .HighRatingSubject {
            color: #9335ff;
        }
        .LowRatingSubject {
            color: $lowRatingColor;
        }
     }
    p {
        font-size: 11px;
    }
    span {
        font-size: 12px; 
    }
}
@media (min-width: 320px) and (max-width: 768px) {
  .Element {
      width: 90%;
  }
}
@media (max-width: 320px) {
    
  }